@import 'bootstrap';

*{
    box-shadow: none !important;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.dropdown-menu{
    margin: 0 0 0 -2px;
}

h1, h2, h3, h4, h5, h6, p{
    margin-before: none;
    -webkit-margin-before: none;
    -moz-margin-before: none;
    -o-margin-before: none;
}

input, button{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    border: 1px solid #000;
    background-color: #fff;
}

input[type=submit]{
    color: #fff;
    background-color: #000;
}

input[type=submit]:hover{
    color: #000;
    background-color: #fff;
}

label{
    font-weight: bold;
    font-size: 16px;
}

ul, ol, li{
    list-style-type: none;
    list-style: none;
    text-indent: none;
    padding: 0;
}

.container{
    padding: 0;
}

header{
    clear: both;
}

#pre-nav{
    width: 100%;
    max-width: 858px;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    .social-search{
        width: 350px;
        float: right;
    }
    form{
        margin-top: 5px;
    }
    input{
        float: left;
        height: 34px;
    }
    input[type=text]{
        width: 300px;
        float: left;
    }
    button{
        width: 40px;
        height: 34px;
        background: url('../img/magnifier.svg') no-repeat #fff;
        background-position: center;
        background-size: contain;
        float: left;
        border-left: 0;
    }
}

.social-search{
    margin: 10px -10px 0 0;
    *{
        float: left;
    }
    ul{
        margin: 5px 30px 0 10px;
    }
    li a{
        display: inline-block;
        width: 28px;
        height: 28px;
        background: url('../img/social-sprite.svg') -1px -29px no-repeat;
    }
    li a:hover{
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: -1px -1px;
    }
    li.f a{
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: -34px -29px;
    }
    li.f a:hover{
        display: inline-block;
        width: 25px;
        height: 25px;
        background-position: -34px -1px;
    }
    li.t a{
        display: inline-block;
        width: 30px;
        height: 25px;
        margin: 0 10px;
        background-position: -64px -29px;
    }
    li.t a:hover{
        display: inline-block;
        width: 30px;
        height: 25px;
        margin: 0 10px;
        background-position: -64px -1px;
    }
    li.i a{
        display: inline-block;
        width: 30px;
        height: 25px;
        background-position: -1px -29px;
    }
    li.i a:hover{
        display: inline-block;
        width: 30px;
        height: 25px;
        background-position: -1px -1px;
    }
}

.aj_emptycart{
    width: auto;
    height: 27px;
    margin-left: 10px;
}

nav.navbar{
    max-width: 858px;
    margin: 150px auto 0 auto;
    z-index: 999;
    border: 1px solid #000;
    ul li{
        border-right: 1px solid #000;
            }
    ul li:last-child{
        border-right: 0;}
    ul .dropdown-menu li:last-child{
        border-right: 1px solid #000;
    }
}

nav.navbar .navbar-default .navbar-fixed-top{
    margin-top: 0;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu > li{
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
}

.dropdown-menu > li {
    a{
        padding-top: 8px;
    }
    
    > a.exclusive:link, > a.exclusive:visited{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-exclusive !important;
    }
    > a.exclusive:hover{
    background-color: $cat-color-exclusive !important;
    border-bottom: 5px solid $cat-color-exclusive !important;
    color: #fff !important;
    }
    > a.exclusive:active, > a.exclusive:focus{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-exclusive !important; 
    }

    > a.introducing:link, > a.introducing:visited{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-introducing !important;
    }
    > a.introducing:hover{
    background-color: $cat-color-introducing !important;
    border-bottom: 5px solid $cat-color-introducing !important;
    color: #fff !important;
    }
    > a.introducing:active, > a.introducing:focus{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-introducing !important; 
    }

    > a.loveis:link, > a.loveis:visited{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-loveis !important;
    }
    > a.loveis:hover{
    background-color: $cat-color-loveis !important;
    border-bottom: 5px solid $cat-color-loveis !important;
    color: #fff !important;
    }
    > a.introducing:active, > a.loveis:focus{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-loveis !important; 
    }

    > a.welove:link, > a.welove:visited{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-welove !important;
    }
    > a.welove:hover{
    background-color: $cat-color-welove !important;
    border-bottom: 5px solid $cat-color-welove !important;
    color: #fff !important;
    }
    > a.welove:active, > a.welove:focus{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-welove !important; 
    }
    
    > a.nightlife:link, > a.nightlife:visited{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-nightlife !important;
    }
    > a.nightlife:hover{
    background-color: $cat-color-nightlife !important;
    border-bottom: 5px solid $cat-color-nightlife !important;
    color: #fff !important;
    }
    > a.nightlife:active, > a.loveis:focus{
    background-color: transparent;
    border-bottom: 5px solid $cat-color-nightlife !important; 
    }
}

.navbar-toggle{
    font-weight: bold;
    text-transform: uppercase;
}

nav .navbar-brand{
    width: 0;
    overflow: visible;
    img{
        width: 120px;
        height: auto;
        margin-top: -125px;
    }
}



.leaderboard{
    width: 728px;
    height: 90px;
    background-color: #ccc;
    margin: 20px auto;
}

.rectangle300x250{
    width: 300px;
    height: 250px;
    background-color: #ccc;
    margin: 10px auto;
    border: none;
}
.h-rectangle600x250{
    width: 600px;
    height: 250px;
    background-color: #ccc;
    margin: 16px 10px 10px 10px;
}

#main-container{
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,.1) !important;
    padding-bottom: 100px;
    h2{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

#main-content{
    max-width: 945px;
    margin: 320px auto 0 auto;
    z-index: -1;
    border-bottom: 1px solid #000;
    .row{
        width: 100%;
    }
    .content{
        border-right: 1px solid #000;
    }
    #whatsnew{
        border-bottom: 1px solid #000;
        margin-bottom: 5px;
    }
    .col-md-3, .col-md-4{
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        img{
            width: 100%;}
    }
    .cat-color{
        width: 100%;
        margin: 0;
        height: 10px;
            &.exclusive{
                background-color: $cat-color-exclusive;
                .cat{
                    text-transform: uppercase;
            }
        }
            &.welove{
                background-color: $cat-color-welove;
        }
             &.loveis{
                background-color: $cat-color-loveis;
        }
        &.competition{
                background-color: $cat-color-competition;
        }
        &.nightlife{
                background-color: $cat-color-nightlife;
        }
        &.introducing{
                background-color: $cat-color-introducing;
        }
    }
    .aj_post_intro{
        height: 90px;
        padding: 12px 0 0 10px;
        font-weight: normal;
        .cat{
            font-style: italic;
            line-height: 12px;
        }
        h3{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            margin: 0;
            line-height: 6px;
            margin-bottom: 8px;
            letter-spacing: -1px;
        }
        a{
            font-weight: bold;
        }
        
        }

    }

#home-bottom-content{
    max-width: 945px;
    margin: 5px auto 30px auto;
    .buynow h2{
        font-size: 16px;
        font-weight: normal;
        line-height: 1em;
        margin: 0;
        height: 34px;
        padding-top: 8px;
        text-transform: initial;
    }
    a .buynow{
        border: 1px solid #000;
        text-align: center;
        margin-top: 5px;
        
    }
    .buynow:hover{
        background-color: #000;
        color: #fff;
    }
    img.mag-cover{
        width: 100%;
    }
    .col-md-4:nth-child(2){
        padding: 20px;
    }
    h3{
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
    }
} 

aside{
    h4{
        font-size: 18px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 30px;
    }
    #interview_widget, form{
        padding: 10px;
        border: 1px solid #000;
    }
    form{
        margin-top: 5px;
    }
    input{
      width: 100%;
        height: 34px;  
    }
    input[type=submit]{
    width: 100%;   
    height: 40px;
    }
    form p{
        font-size: 16px;
        line-height: 12px;
        margin-bottom: 10px;
    }
    form p:last-child{
        margin-bottom: 0;
    }
    form p label{
        margin-bottom: 0;
    }
}

.ad{
    font-size: 8px;
}
footer{
    font-size: 12px;
    display: block;
    clear: both;
    p{
        text-align: center;
        padding: 12px;
    }
    .row{
        background-color: #000;
        color: #fff;
        a{
            color: #fff;
        }
    }
    .footer-links{
        width: 33%;
        float: right;
    }
    .footer-nav{
        width: 24%;
        text-align: center;
        margin: 12px 0;
        border-right: 1px solid #fff;
        clear: none;
        display: inline-block;
    }
    .footer-nav:last-child{
            border: 0;
        }
}

@media (max-width: $screen-md){

    nav.navbar{
        margin-top: 0;
        border: none;
    }
    #pre-nav{
        display: none;
    }
    
    nav .navbar-brand img{
        width: 65px;
        height: auto;
        margin-left: 20px;
        margin-top: 0;
    }

nav.navbar ul li.dropdown.open ul.dropdown-menu{
        border: 1px solid #000;
                li{
                    border-top: none;
                    border-right: none;
                    border-bottom: 1px solid #000;
                    border-left: none;
                    background-color: transparent;
                    a:link, a:visited, a:hover, a:active, a:focus{
                        padding-top: 7px;
                       background-color: transparent;
                    } 
                    }
            li:hover{
                border-top: none;
                    border-right: none;
                    border-bottom: 1px solid #000;
                    border-left: none;
                    background-color: transparent;
                       a:link, a:visited, a:hover, a:active, a:focus{
                        padding-top: 7px;
                       background-color: transparent;
                    }  
                }    
                   
}
    
    footer {
        padding: 12px 0;
        .footer-links{
            width: 100%;
        }
        .footer-nav{
        border: none;
        width: 100%;
        clear: both;
        }
    }
}

/* AJ CAROUSEL STYLES */

#carousel-header{
    z-index: 1;
    position: absolute;
    top: 125px;
    margin-left: 10;
    transform-style: flat;
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    img, img .active{
        min-width: 100%;
        width: 100%;
        height: auto;
    }
}

.carousel-control{
    .glyphicon-chevron-left{
        margin-top: 35px;
        color: #bcbcbc;
        opacity: 100%;
        -webkit-opacity: 100%;
        -moz-opacity: 100%;
        -o-opacity: 100%;
        text-shadow: none;
        
    }
    .glyphicon-chevron-right{
        margin-top: 35px;   
        color: #bcbcbc;
        opacity: 100%;
        -webkit-opacity: 100%;
        -moz-opacity: 100%;
        -o-opacity: 100%;
        text-shadow: none;
    }
}

ol.carousel-indicators{
    width: auto;
    padding: 8px 15px 15px 15px;
    border-radius: 15px 15px 0 0;
    background-color: #fff;
    margin: 0 auto -35px auto;
    margin-left: -50px;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 15;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  10px;
    height: 10px;
    margin: 0 5px;
    text-indent: -999px;
    background-color: #bcbcbc;
    border-radius: 10px;
    border: 1px solid $carousel-indicator-border-color;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #bcbcbc \9; // IE8
    background-color: #bcbcbc; // IE9
  }
  .active {
    margin: 0 5px;
    width:  10px;
    height: 10px;
    background-color: $carousel-indicator-active-bg;
    border: 1px solid #000;
  }
}



#main-container .carousel-caption{
    h2{
        font-size: 30px;
        margin: 0;
    }
    h4{
        font-size: 18px;
        line-height: 25px;
        font-weight: normal;
        margin-top: -1px;
    }
}

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption {
  position: absolute;
  width: 350px;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 10;
  padding: 10px 40px 0 40px;
  margin-left: 40px;
  color: $carousel-caption-color;
  text-align: left;
  text-shadow: $carousel-text-shadow;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
    
}
@media screen and (max-width: $screen-md)  {
    #main-content{
        margin-top: 370px;
        h2{
            margin-left: 10px;
        }
    }
    #home-bottom-content{
        margin-bottom: 0;
    }
    
    .carousel-inner{
        overflow: visible;
    }
    
    #carousel-header{
        max-width: 720px;
        margin-top: -80px;
        overflow: hidden;
        img{
            max-width: 720px;
        }
        .carousel-caption{
            margin-left: 0;
            max-width: 100%;
            padding: 0px 10px 0 10px;
            width: 100%;
        }

    }
    nav ul li{
        border: none !important;
    }
    .dropdown-menu{
        li{
            display: inline-block;
            Width: 100%;
            clear: both;
            text-align: center;
            padding-left: 0;
            padding-right: 0;
            border: none !important;
        }
        
    }
    #home-bottom-content{
        .buynow{
            margin: 0 10px;
        }
    }
    #interview_widget{
        display: none;
    }
    footer{
        padding: 0;
    }
    
}

// Scale up controls for tablets and up
@media screen and (max-width: $screen-sm-min) {

    #main-content{
        padding-top: 100px;
    }
    
  // Scale up the controls a smidge
    #carousel-header{
        max-width: 100%;
        img{
            max-width: 100%;
            max-height: 346px;
            transform-style: flat;
            -webkit-transform-style: flat;
            -moz-transform-style: flat;
        }
    }
    .carousel-control {
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next {
      width: 30px;
      height: 30px;
      margin-top: -15px;
      font-size: 30px;
    }
    .glyphicon-chevron-left,
    .icon-prev {
      margin-left: -15px;
    }
    .glyphicon-chevron-right,
    .icon-next {
      margin-right: -15px;
    }
  }

     #carousel-header{
        max-width: 100%;
        height: 400px;
        box-shadow: 0px 4px 4px 1px rgba(0,0,0,.1);
      .carousel-caption {
    background-color: #fff;
    display: block;
    left: auto;
    right: auto;
    padding-bottom: 30px;
    top: 335px;
  }
    .carousel-indicators{
            bottom: 115px;
        }
}
    .h-rectangle600x250{
        display: none;
    }
}

@media (max-width: $screen-xs) {
    #main-content{
        margin-top: 245px;
    }
    #carousel-header{
        max-width: 100%;
        height: 295px;
        box-shadow: 0px 4px 4px 1px rgba(0,0,0,.1) !important;;
        img{
            max-height: 182px;
            width: auto;
        }
    }
      .carousel-caption {
    background-color: #fff;
    display: block;
    left: auto;
    right: auto;
    padding-bottom: 30px;
    top: 200px;
  }
    .carousel-indicators{
            bottom: 140px;
        }
}

#oops-wrapper #main-content{
    margin-top: 0px;
    .oops{
    max-width: 859px;
    width: 100%;
    margin: 60px auto;
    position: relative;
    img{
        max-width: 60%;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
        position: relative;
        }
        a:link, a:visited{
            text-decoration: underline;
            text-decoration-color: #000 !important;
        }
        a:hover{
            text-decoration: underline;
            text-decoration-color: #ccc !important;
        }
        a:active, a:focus{
            text-decoration: underline;
            text-decoration-color: #000 !important;
        }
        h2{
            margin-bottom: 1.75em;
        }
        p{
            margin-left: 10px;
        }
    }
}

/* archive styles */



#archive-wrapper{
    .social-search {
    margin: 10px -26px 0 0;
    }
    #interview_widget{
            display: none;
        }
    nav.navbar{
    max-width: 890px;
    }
        #home-bottom-content{
            padding: 5px;
        .col-md-3{
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            .aj_post_intro{
                padding: 10px;
            }
        }
            .col-md-3:last-child{
                border-right: 1px solid #000;
            }
    }
}

#youmay{
    border-bottom: 1px solid #000;
    .cat-color{
        width: 100%;
        margin: 0;
        height: 10px;
            &.exclusive{
                background-color: $cat-color-exclusive;
                .cat{
                    text-transform: uppercase;
            }
        }
            &.welove{
                background-color: $cat-color-welove;
        }
             &.loveis{
                background-color: $cat-color-loveis;
        }
        &.competition{
                background-color: $cat-color-competition;
        }
        &.nightlife{
                background-color: $cat-color-nightlife;
        }
        &.introducing{
                background-color: $cat-color-introducing;
        }
}
}

#archive-widget .col-md-4, #home-bottom-content .col-md-4:nth-child(2) {
    height: 250px !important;
    padding-top: 16px !important;
    padding-right: 0 !important;
    padding-bottom: 20px !important;
    padding-left: 0 !important;
}

#archive-wrapper #main-content{
    margin-top: 0px;
    > .cat-color{
        max-width: 890px;
        margin: 20px auto 0 auto;
    }
    h2{
        max-height: 20px;
        overflow: hidden;
        padding: 0 25px;
    }
    .page-intro {
        max-height: 40px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 0 25px;
    }
    .content {
         border-right: none;
        .col-md-4{
            border-top: none;
            border-right: none;
            border-bottom: none;
            border-left: none;
            height: 475px;
            margin: 7px auto;
        }
    }
    .aj_post{
        width: 262px;
        margin: 0 auto;
        h3{
            line-height: 28px;   
            }
        .thumbnail_container{
            height: 238px;
            overflow: hidden;
            img{
                height: 100%;
                width: auto;
                margin-left: -50%;
            }
            
        }
        .aj_post_intro{
            a.archive_more.welove:hover {
                background-color: $cat-color-welove;
            }
            a.archive_more.loveis:hover {
                background-color: $cat-color-loveis;
            }
            a.archive_more.nightlife:hover {
                background-color: $cat-color-nightlife;
            }
            a.archive_more.competition:hover {
                background-color: $cat-color-competition;
            }
            a.archive_more.introducing:hover {
                background-color: $cat-color-introducing;
            }
            a.archive_more:link, a.archive_more:visited{
                display: block;
                width: 100%;
                margin-left: -6px;
                border: 1px solid #000;
                padding: 8px 0;
                text-align: center;
                font-weight: normal;
                background-color: transparent;
            }
            a.archive_more:hover{
                background-color: inherit;
                color: #fff;
                border: none;
                text-decoration: none;
            }
            a.archive_more:active, a.archive_more:focus{
                background-color: transparent;
                border: 1px solid #000;
            }
    }
    
}
    }

@media (max-width: $screen-md){
    #archive-wrapper #main-content{
    h2{
        max-height: 20px;
        overflow: hidden;
        padding: 0;
    }
    .page-intro {
        max-height: 60px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 0 10px;
    }
        .col-md-3{
            border: none;
        }
    .content {
         border: none;
        .col-md-4{
            height: auto;
            clear: both;
        }
    }
    
    .aj_post{
        width: 100%;
        margin: 0 auto;
        .aj_post_intro{
            height: 200px;
            a.archive_more:link, a.archive_more:visited{
                display: block;
                width: 100%;
                margin-left: 0;
                border: 1px solid #000;
                padding: 8px 0;
                text-align: center;
                font-weight: normal;
                background-color: transparent;
            }
            a.archive_more:hover{
                background-color: inherit;
                color: #fff;
                border: none;
                text-decoration: none;
            }
            a.archive_more:active, a.archive_more:focus{
                background-color: transparent;
                border: 1px solid #000;
            }
        }
        h3{
            line-height: 28px;   
            }
        .thumbnail_container{
            width: 100%;
            height: auto;
            min-width: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: auto;
                margin-left: 0;
            }
            
        }
        
    }

 }
}


/* footer carousel */

#carousel-footer{
    .carousel-inner{width: 100%; min-width: 0; }
    .carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}
    .aj_post{
        width: 100px;
        img{
            width: 100px;
        }
    .item, .item .active{
        width: 100px;
    }
    h3{
        font-size: 50%;
        }
    }
}